{% extends 'base.html.twig' %}

{% block title %}{{ 'login.reset_password.new_password_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="auth-header">
                <a href="#"><img src="{{ asset('assets/images/logo-dark.svg') }}" alt="img"></a>
            </div>
            <div class="card my-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-end mb-4">
                        <h3 class="mb-0"><b>{{ 'login.reset_password.new_password_title'|trans }}</b></h3>
                    </div>

                    {{ form_start(resetForm) }}
                        <div class="form-group mb-3">
                            {{ form_row(resetForm.password, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="d-grid mt-4">
                            <button class="btn btn-primary">{{ 'login.reset_password.new_password_submit'|trans }}</button>
                        </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
            <div class="auth-footer row">
                <div class="col my-1">
                    <p class="m-0">Fußball Manager &copy; {{ "now"|date("Y") }}</p>
                </div>
                <div class="col-auto my-1">
                    <ul class="list-inline footer-link mb-0">
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
