{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'email.reset_password.title'|trans({}, 'messages', locale) }}</h1>
    <p>{{ 'email.reset_password.message'|trans({}, 'messages', locale) }}</p>
    <p><a href="{{ url }}">{{ url }}</a></p>
    <p>{{ 'email.reset_password.expire_message'|trans({'%expires_at%': expires_at}, 'messages', locale) }}</p>
{% endblock %}
