<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <!-- [Google Font] Family -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
            <!-- [Tabler Icons] https://tablericons.com -->
            <link rel="stylesheet" href="{{ asset('assets/fonts/tabler-icons.min.css') }}" >
            <!-- [Feather Icons] https://feathericons.com -->
            <link rel="stylesheet" href="{{ asset('assets/fonts/feather.css') }}" >
            <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
            <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome.css') }}" >
            <!-- [Material Icons] https://fonts.google.com/icons -->
            <link rel="stylesheet" href="{{ asset('assets/fonts/material.css') }}" >
            <!-- [Template CSS Files] -->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" id="main-style-link" >
            <link rel="stylesheet" href="{{ asset('assets/css/style-preset.css') }}" >
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/plugins/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/plugins/simplebar.min.js') }}"></script>
            <script src="{{ asset('assets/js/plugins/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/fonts/custom-font.js') }}"></script>
            <script src="{{ asset('assets/js/pcoded.js') }}"></script>
            <script src="{{ asset('assets/js/plugins/feather.min.js') }}"></script>
            <script>layout_change('light');</script>
            <script>change_box_container('false');</script>
            <script>layout_rtl_change('false');</script>
            <script>preset_change("preset-1");</script>
            <script>font_change("Public-Sans");</script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->
        {% block body %}{% endblock %}
    </body>
</html>
